<!--
  Generated template for the PesanBaruPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >PESAN BARU</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list >
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-select [(ngModel)]="input.DestinationNumber" multiple="true">
            <ion-option *ngFor="let item of listContact" [value]="item.phone">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Isi</ion-label>
          <ion-textarea [(ngModel)]="input.TextDecoded" placeholder="Masukkan isi SMS"></ion-textarea>
        </ion-item>

      </ion-list>
      <div padding>
          <button (click)="simpan()" ion-button block>Simpan</button>
      </div>
</ion-content>
