<!--
  Generated template for the OutboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OUTBOX</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="detailMessage(item)" *ngFor="let item of lists">
      <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
      </ion-avatar>
      <div *ngIf="item['phone.name'] != null">
        <h2>{{item["phone.name"]}}</h2>
      </div>
      <div *ngIf="item['phone.name'] == null">
        <h2>{{item.DestinationNumber}}</h2>
      </div>
      <p>{{item.TextDecoded}}</p>
      <ion-note item-end>{{ item.UpdatedInDB | date:'HH:mm:ss'}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
