<!--
  Generated template for the OutboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

    <ion-navbar color="primary" text-center>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>INBOX</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-row *ngIf="isWait">
      <ion-col>
        <p>Sedang Memuat ...</p>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="!isWait">
      <ion-item (click)="detail(item)" *ngFor="let item of lists">
        <ion-avatar item-start>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
        </ion-avatar>
        <h2>{{item.contactname}}</h2>
        <p>{{item.isi}}</p>
        <ion-note item-end></ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
  