<ion-header color="primary">
  <ion-navbar text-center color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right top>
      <button (click)="settingIP()" ion-fab color="danger"><ion-icon name="md-cog"></ion-icon></button>
  </ion-fab>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <h1>KASAVA</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button (click)="pesanBaru()" ion-button block>PESAN BARU</button>
      </ion-col>
      <ion-col>
        <button (click)="kontak()" ion-button block>KONTAK</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button (click)="inbox()" ion-button block>INBOX</button>
      </ion-col>
      <ion-col>
        <button (click)="outbox()" ion-button block>OUTBOX</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
