<!--
  Generated template for the PesanBaruPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

    <ion-navbar color="primary" text-center>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title >TAMBAH KONTAK</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-list >

          <ion-item>
            <ion-label floating>Nama</ion-label>
            <ion-input [(ngModel)]="input.name" type="text"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label floating>No Telp</ion-label>
            <ion-input [(ngModel)]="input.phone" type="number"></ion-input>
          </ion-item>

        </ion-list>
        <div padding>
            <button (click)="simpan()" ion-button block>Simpan</button>
            <button color="danger" *ngIf="input.act == 'edit'" (click)="hapus()" ion-button block>Hapus</button>
        </div>
  </ion-content>
  