<!--
  Generated template for the KontakPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>KONTAK</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab right top>
      <button (click)="addContact()" ion-fab color="danger"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item (click)="editContact(item)" *ngFor="let item of lists">
            <ion-avatar item-start>
              <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
            </ion-avatar>
            <h2>{{item.name}}</h2>
            <p>{{item.phone}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
