<!--
  Generated template for the PesanBaruPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >SETTING IP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list >
        <ion-item>
          <ion-label floating>IP</ion-label>
          <ion-input [(ngModel)]="ip_address" placeholder="IP Address"></ion-input>
        </ion-item>
      </ion-list>
      <div padding>
          <button (click)="simpan()" ion-button block>Simpan</button>
      </div>
</ion-content>
