<!--
  Generated template for the DetailPesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar text-center color="primary">
    <ion-title>DETAIL PESAN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <label >Tujuan : {{details.tujuan}}</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{details.deskripsi}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button color="danger" (click)="hapus()" ion-button block>Hapus Pesan</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
